<h1>Add New Company To API Database</h1>
<%= form_tag "/add", method: :post do %>
Company Name: <input type="text" name = "name">
Buzzword: <input type = "text" name = "buzzword" >
BS: <input type = "text" name = "bs">
<input type = "submit" value = "Submit">
<% end %>